
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container">
    <div class="row">

      <!--Flash message -->
      {% for message in get_flashed_messages() %}

        <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
        </div>

      {% endfor %}

      <!-- Login form -->
      <div class="form" style="margin-top: 50px;">
      {{wtf.quick_form(login_form)}}
      <p> Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
    </div>
     </div>
    </div>

{% endblock%}


<style>
*{
    margin: 0;
    padding: 0;
  }

</style>