{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block  content %}
<div class="image">
<link rel="stylesheet" href="{{url_for('static',filename='css/engage.css')}}">
<br><br><div class="container jumbotron " style="color: black; background-color: transparent;">
<div class="row card">
<div class="col-md-2"></div>
<div class="col-md-8">
{{ wtf.quick_form(registration_form) }}
</div>
</div>
<div class="col-md-2"></div>
</div>
{% endblock content %}
</div>
<style>
    body{
        background-image: url("https://cdn.pixabay.com/photo/2014/01/30/18/26/singapore-river-255116_960_720.jpg");
    }
</style>