
{% block content %}  
{% include 'navbar.html' %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
<link rel="stylesheet" href="static/css/about.css">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="strt">
    <div class="overlay">
        <h1 class="about" id="about">WELCOME TO BRADFORD SCHOOL</h1>
        <img class="btn" href="#abt" src="http://2017.igem.org/wiki/images/7/7e/T--HZAU-China--arrow.gif
" width="200px"
            height="auto" alt="">
    </div>
</div>
<div class="about-us">
    <h2 class="htu">ABOUT US</h2>
    <p><span>Bradford School </span>is a small, private, for-profit[1] career college in Columbus,
        Ohio. It
        originally was founded in 1911 and moved to its current suburban campus location in 2003. It
        has
        on-ampus
        housing for students but more than half of students live in the Columbus area and commute.
    </p>
</div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>BRAD<span>FORD</span></h1>
            </div>
            <div class="col-md-3">
                <ul>
                    <li><a href="#">Read our blog</a></li>
                    <li><a href="#">sign up</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>Get Help</li>
                    <li>Read FAQS</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="horizontal"></div>
    <div class="container" id="copyright">
        <div class="row">
            <div class="col-md-6">
                <p>Copyrights &copy; Bradford All rights reserved</p>
            </div>
            <div class="col-md-6">
                <i class="fa fa-twitter" style="font-size: 30px;padding: 12px"></i>
                <i class="fa fa-instagram" style="font-size: 30px;padding: 12px"></i>
                <i class="fa fa-facebook" style="font-size: 30px;padding: 12px"></i>
                <i class="fa fa-linkedin" style="font-size: 30px;padding: 12px"></i>
                <i class="fa fa-phone" style="font-size: 30px;padding: 12px"></i>
            </div>
        </div>
    </div>
</footer>
</div>
</div>
{% endblock content %}
<style>
    .strt {
        background-image: url('http://img.transcoder.opera.com/assets/v2/4177b52bba817b79aaa2e9bd9a4cd0e8');
        width: 1600px;
        background-repeat: no-repeat;
        height: 690px;
        background-size: cover;
        box-shadow: inset 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
    }
    .about {
        color: white;
        text-align: center;
        font-size: 50px;
        font-weight: bolder;
        padding-top: 250px;
        margin-right: 300px;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    img {
        margin-left: 500px;
        margin-top: 200px;
    }
    .htu {
        border-bottom: 2px solid black;
    }
    .about-us {
        width: 700px;
        padding: 100px;
    }
    footer {
        height: 70vh;
        background-color: #000000;
        margin-top: 30px;
        color: #fff;
        padding: 40px 0 0 60px;
    }
    footer span {
        color: rgb(67, 33, 219);
    }
    footer h1 {
        margin-bottom: 50px;
    }
    footer li {
        color: #fff;
        list-style: none;
    }
    footer a {
        color: #fff;
    }
    #horizontal {
        border-bottom: 1px solid #fff;
        padding-top: 50px;
    }
    #copyright {
        padding-top: 30px;
    }
    footer i {
        font-size: 30px;
    }
    .ml-auto,
    .mx-auto {
        margin-left: 35% !important;
    }
    *{
        overflow-x:hidden;
    }
</style>