{% block content %}

<div class="container">
  <div class="categories">
    <div class="well well-lg">
      <div class="dates">
        <h1>SCHOOL DATES</h1>
        <p>The school dates are as follows</p>
      </div>
    </div>

    <div class="well well-lg">
      <div class="dates">
        <h1>UPDATES</h1>
        <p></p>
      </div>
    </div>

    <div class="well well-lg">
      <div class="dates">
        <h1>SCHOOL ACTIVITIES</h1>
        <p></p>
      </div>
    </div>

    <div class="well well-lg">
      <div class="dates">
        <h1>STAFF ACTIVITIES</h1>
        <p></p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
