{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="categories">
    <div class="well well-lg">
      <div class="dates">
        <h1>SCHOOL DATES</h1>
        <p>The school dates are as follows:</p>
      </div>
    </div>

    <div class="well well-lg">
      <div class="dates">
        <h1>UPDATES</h1>
        <p></p>
      </div>
    </div>

    <div class="well well-lg">
      <div class="dates">
        <h1>SCHOOL ACTIVITIES</h1>
        <p>All staff should take note of all school activities for conviniency.</p>
        <ul>
          <li>Science activities</li>
          <li>Craft Activities</li>
          <li>Games</li>
          <li>Trips</li>
        </ul>
        please ensure the parents are informed early about the activities so as to make payments as soon as possible.
      </div>
    </div>

    <div class="well well-lg">
      <div class="dates">
        <h1>STAFF ACTIVITIES</h1>
        <p> The staff will be involved in the folloring activities:
          <p>GAMES</p>
          <ul>
            <li>Team Juggling</li>
            <li>Introduce Your Partner</li>
            <li>Beach Ball Questions</li>
            <li>Staff Bingo</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
