<div class="slides">

</div>
<div class="container">
  <div class="headeer">
    <h1>PARENT SCHOOL ENGAGEMENT</h1>

  </div>
  <div class="motto">
      <h1>MOTTO</h1>
    <p></p>
    <div class="vision">
      <h1>VISION</h1>
      <p>To be the centre of distinction in pursuit of education excellence.</p>
      <div class="mission">
        <h1>MISSION</h1>
        <p>
          Our mission is to develop young men with active and creative minds, a
          sense of understanding and compassion for others, and the courage to
          act on their beliefs. We stress the total development of each child:
          spiritual, moral, intellectual, social, emotional, and physical.
        </p>
      </div>
    </div>
  </div>
</div>
