<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/css/index.css" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Navbar</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-success">

  <!-- Navbar brand -->
  <!-- <a class="navbar-brand btn btn-success" href="#">Home</a> -->
  <a class="fa fa-home nav-link btn btn-success" href="#">Home</a>
  

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
          <a class="fa fa-group nav-link btn btn-success" href="#">About
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item ml-5">
        <a class="fa fa-lock nav-link btn btn-success" href="#">Admin</a>
      </li>
      <li class="nav-item ml-5">
        <a class="fa fa-user nav-link btn btn-success" href="#">Parent</a>
      </li>
      <div class="dropdown">
          <button class="fa fa-image btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Gallery
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">SPORTS</a></li>
            <li><a href="#">DRAMA</a></li>
            <li><a href="#">SCHOOL</a></li>
          </ul>
        </div>

    </ul>
    

    
  </div>
  <!-- Collapsible content -->

</nav>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>