<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="static/css/index.css" type="text/css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Navbar</title>
</head>
<body>

  <header>
    <div class="container">
      <nav>
        <ul>
          <li><a href="#">Parent</a></li>
          <li><a href="#">Admin</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Gallery</a></li>
        </ul>
      </nav>

    </div>
  </header>
  
</body>
</html>